<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('./partials/head') %>
</head>
<body >
    <%- include('./partials/nav') %>

    <div class="container container-fluid mt-6 table-responsive">
        <table class="table table-hover mt-4">
            <thead>
                <tr class="bg-info">
                    <th scope="col">Sl. No.</th>
                    <th scope="col">Original URL</th>
                    <th scope="col">Short URL</th>
                    <th scope="col">No. of clicks</th>
                </tr>
            </thead>
            <tbody>
                <% locals.allUrls.forEach((url, index) => { %>
                 <tr>
                    <td> <%= index + 1 %></td>
                    <td> <%= url.redirectUrl %></td>
                    <td> https://url-shortener-lemon-seven.vercel.app/url/<%= url.shortUrl %></td>
                    <td> <%= url.visitHistory.length %></td>
                 </tr>
                <% }) %>
            </tbody>
        </table>
    </divc>
    
    <%- include('./partials/script') %>
</body>
</html>